<h1 id="header" class="text-center headers">Burger Shop</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col" id='avail'>
            <h2 class="text-center headers">Menu:</h2>
            <ul class="list-unstyled">
                {{#each burgers}} {{#unless this.devoured}}
                <li> 
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="false">
                        <button class="btn btn-warning btn-lg btn-block" type="submit">{{this.burger_name}}</button>
                    </form>
                </li>
                {{/unless}} {{/each}}
            </ul>
        </div>
        <div class="col" id='devoured'>
            <h2 class="text-center headers">86'd: </h2>
            <ul class="list-unstyled">
                {{#each burgers}} {{#if this.devoured}}
                <li>
                    <button class="btn btn-danger btn-lg disabled btn-block" type="submit">{{this.burger_name}}</button>  
                </li>
                {{/if}} {{/each}}
            </ul>
        </div>
    </div>
    <div id='add' class="text-center">
        <h2 class="headers">Add a Burger: </h2>
        <form class="create-update-form" action="/" method="POST">
            <div class="form-group">
                <label for="dab" class="headers">Burger Name:</label>
                <br>
                <input type="text" id="dab" name="burger_name">
            </div>
            <button class="btn btn-dark" type="submit">Add Burger</button>
        </form>
    </div>

</div>